    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <!-- <h1 style="color:red;font-size:80px;" class="brand-heading">{{ site.title }}</h1> -->
                        <p  style="color:red;font-size:100px;font-family: 'URW Chancery L','Monotype Corsiva','Apple Chancery','ITC Zapf Chancery',cursive" class="intro-text">{{ site.description }}</p>
                        <p  style="color:red;font-size:40px;font-family: 'URW Chancery L','Monotype Corsiva','Apple Chancery','ITC Zapf Chancery',cursive" class="intro-text">October 16, 2021</p>
                        <p  style="color:red;font-size:40px;font-family: 'URW Chancery L','Monotype Corsiva','Apple Chancery','ITC Zapf Chancery',cursive" class="intro-text">Keller Lane, Esopus, NY, 12561 <a href="#location-map" style="color:#80160e">(map)</a></p>
                        <p  style="color:red;font-size:40px;" class="intro-text"><a href="{{ site.baseurl }}/img/seating-chart.svg" style="color:#80160e">Click for dinner seating chart</a></p>
                        <!--
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </header>
