    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <!-- <h1 style="color:red;font-size:80px;" class="brand-heading">{{ site.title }}</h1> -->
                        <p  style="color:red;font-size:100px;font-family: 'URW Chancery L','Monotype Corsiva','Apple Chancery','ITC Zapf Chancery',cursive" class="intro-text">{{ site.description }}</p>
                        <p  style="color:red;font-size:40px;font-family: 'URW Chancery L','Monotype Corsiva','Apple Chancery','ITC Zapf Chancery',cursive" class="intro-text">October 16, 2021</p>
                        <p  style="color:red;font-size:40px;font-family: 'URW Chancery L','Monotype Corsiva','Apple Chancery','ITC Zapf Chancery',cursive" class="intro-text">Keller Lane, New Paltz, NY, 12561</p>
                        <p  style="color:red;font-size:24px;" class="intro-text">RSPV via <a href="mailto:ebetica0@gmail.com" style="color:#80160e">email</a> (or just let us know however you like) by <b style="white-space: nowrap">Sept 16, 2021</b></p>
                        <!--
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </header>
