<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}

    <!-- Schedule Section -->
    <section id="details" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 style="font-size:60px"></br>Details</h1>
                <p>
                    We will be holding the wedding outdoors.
                    Dress code is nice casual, theme is East Meets West.
                </p>
                <table class=schedule style="font-size:30px;font-family: 'URW Chancery L','Monotype Corsiva','Apple Chancery','ITC Zapf Chancery',cursive">
                  <tr><td align=right>4:00p</td><td align=left>Arrival</td></tr>
                  <tr><td align=right>4:30p</td><td align=left>Ceremony</td></tr>
                  <tr><td align=right>5:00p</td><td align=left>Cocktail Hour</td></tr>
                  <tr><td align=right>6:00p</td><td align=left>Dinner</td></tr>
                  <tr><td align=right>7:00p</td><td align=left>Dancing</td></tr>
                  <tr><td align=right>10:00p</td><td align=left>Wrap up</td></tr>
                </table>
            </div>
        </div>
        Note: exact schedule might change, though arrival and wrap up won't. We have the location for the entire day/night so feel free to arrive earlier or hang out with us later as you wish!
    </section>
    <img src="{{ site.baseurl }}/img/p1.jpg" />

    <section id="registry" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 style="font-size:60px"></br>Registry</h1>
                <p>
                    We ask that you donate to one of our favorite charities in lieu of however much you might spend on a wedding gift.
                    We hope that our wedding day will bring some joy to others around the world.
                    <!--And as New Yorkers, we don’t have room in our apartment for even another coffee mug, much less an heirloom salad bowl!-->
                    Please donate to our favorite charities <a href="https://forms.gle/wy5iC3p6g1K3TFsC9">here</a>
                </p>
                <p>
                If you would like to give us a physical gift, please consider something small and personal such as a card sharing a favorite memory you have of us, or a favorite recipe.
                We would love to include notes like this in our wedding album.
                </p>
            </div>
        </div>
    </section>
    <img src="{{ site.baseurl }}/img/p2.jpg" />

    <section id="directions" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 style="font-size:60px"></br>Getting There</h1>
                <h2>🚗Driving🚗</h2>
                <p>The drive from NYC to New Paltz is the easiest, but not only, method of getting there. Depending on where and when you leave the city it takes a little less than 2 hours. Want to carpool?  Driving and willing to bring passengers? <a href="https://docs.google.com/spreadsheets/d/1XkBUkyZeNV0vMFfLdPzF16WSdADY35fSK9d1FfQ6LLw/edit?usp=sharing">Please let us know!</a></p>

                <h2>🚌Bus🚌</h2>
                <p>There are busses which travel between <em>New York Penn Station</em> and <em>New Paltz</em> throughout the day. Round trip tickets cost $46. The bus will take you to downtown New Paltz, <em>where a short taxi or lyft ride</em> will get you to our location. We recommend leaving Penn Station on the 1 PM bus, which gets you into New Paltz at 2:30, in plenty of time to get a ride to the ceremony. The last return bus of the day leaves at 9pm. <a href="https://trailways.com/schedules/bus-from-new-paltz-ny-to-new-york-ny/">The full schedule is here</a></p>

                <h2>🚆Train🚆</h2>
                <p>Poughkeepsie station is about 25 minutes drive from our wedding location. <em>Metro North</em> runs trains from <em>Grand Central</em> to <em>Poughkeepsie</em> which take 2 hours, and cost about $40 round trip. We recommend taking the 1:45 train arriving in Poughkeepsie at 3:45 and getting a Lyft or taxi to our location. Return trains depart Poughkeepsie at 8:45, 9:50 and 11:48 PM. You can see the full schedule at <a href="https://www.mta.info/mnr">Metro-North - Schedules, Tickets, rail</a></p>

            </div>
        </div>
    </section>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1901.2134422109502!2d-74.06392916930886!3d41.81123874696757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89dd1991aa6a2ac1%3A0x84a251613d27530c!2sKeller%20Ln%2C%20Esopus%2C%20NY%2012561!5e1!3m2!1sen!2sus!4v1619369120619!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <img src="{{ site.baseurl }}/img/p3.jpg" />


    <section id="accomodations" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 style="font-size:60px"></br>Where to Stay</h1>
                <p> 🏕️🏕️🏕️ </p>
                <p>These are suggestions - we are not associated with any of the places listed, and this is not an exhaustive list at all.
                But keep in mind October is peak ‘leaf-peeping’ season, so accommodation may book up quickly, and definitely make reservations in advance.
                </p>

                <p style="text-align: left;">
                <a href="https://www.minnewaskalodge.com/">Minnewaska Lodge</a>: 20 minutes drive from our location, this lodge is set in nature near Lake Minnewaska State park and the Mohonk Preserve.</br>
                <a href="https://www.hilton.com/en/hotels/pounphx-hampton-new-paltz/">Hampton Inn New Paltz</a>: 10 minutes drive from the wedding location.</br>
                <a href="https://www.bestwestern.com/en_US/book/hotel-rooms.33159.html?iata=00171880&ssob=BLBWI0004G&cid=BLBWI0004G:google:gmb:33159">Best Western Kingston</a>: 20 minutes drive from the wedding location in Kingston, the next small town North of New Paltz. We’ve stayed there before - it’s fine.</br>
                <a href="https://americanalpineclub.org/gunks-campground">The Gunks American Alpine Association Campground</a>: 15 minutes drive from the wedding location. For all you rock climbing dirtbags out there ;)</br>
                <a href="https://airbnb.com">Airbnb</a> and <a href="https://www.vrbo.com/">VRBO</a>: both have plenty of accommodations in the area. Good for groups!</br>
                </p>

            </div>
        </div>

    </section>
    <img src="{{ site.baseurl }}/img/engagement-kissing.jpg" />
    <section id="credits" class="container content-section text-center">
                <p> Thanks to Andrew Wilds for taking all of our amazing wedding photos!
                    <a href="http://www.andrewwildsphotography.com/">🌐</a>
                    <a href="https://awildsphotography.zenfolio.com/">📷</a>
                    <a href="https://www.instagram.com/awildsphotography/?hl=en"><img style="height: 1em;width:auto" src="{{site.baseurl}}/img/instagram.png"/></a>
                </p>
    </section>

    {% include js.html %}
    </body>
</html>
