<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}

    <!-- Schedule Section -->
    <section id="schedule" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 style="font-size:60px">🧧🧧🧧</br>Schedule</h1>
                <table>
                  <tr><td>4:00 pm </td><td align=left>Cocktail Hour</td></tr>
                  <tr><td>4:00 pm </td><td align=left>Door Games</td></tr>
                  <tr><td>5:00 pm </td><td align=left>Ceremony</td></tr>
                  <tr><td>5:30 pm </td><td align=left>Dinner</td></tr>
                  <tr><td>6:00 pm </td><td align=left>Baijiu Ceremony</td></tr>
                  <tr><td>7:00 pm </td><td align=left>Drinks and Dancing</td></tr>
                </table>
            </div>
        </div>
    </section>

    <section id="registry" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 style="font-size:60px">🧧🧧🧧</br>Registry</h1>
                <p>
                    We ask that you <em>donate</em> to one of our favorite <em>charities</em> in lieu of however much you might spend on a wedding gift.
                    We hope that our wedding day will bring some joy to others around the world.
                    <!--And as New Yorkers, we don’t have room in our apartment for even another coffee mug, much less an heirloom salad bowl!-->
                    Please donate to our favorite charities <a href="https://forms.gle/wy5iC3p6g1K3TFsC9">here</a>
                </p>
                <p>
                If you would like to give us a physical gift, please consider something small and personal such as a card sharing a favorite memory you have of us, or a favorite recipe.
                We would love to include notes like this in our wedding album.
                </p>
            </div>
        </div>
    </section>

    <section id="directions" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 style="font-size:60px">🧧🧧🧧</br>Getting There</h1>
                <h2>🚗Driving🚗</h2>
                <p>The drive from NYC to New Paltz is the easiest, but not only, method of getting there. Depending on where and when you leave the city it takes a little less than 2 hours. Want to carpool?  Driving and willing to bring passengers? <a href="https://docs.google.com/spreadsheets/d/1XkBUkyZeNV0vMFfLdPzF16WSdADY35fSK9d1FfQ6LLw/edit?usp=sharing">Please let us know!</a></p>

                <h2>🚌Bus🚌</h2>
                <p>There are busses which travel between <em>New York Penn Station</em> and <em>New Paltz</em> throughout the day. Round trip tickets cost $46. The bus will take you to downtown New Paltz, <em>where a short taxi or lyft ride</em> will get you to our location. We recommend leaving Penn Station on the 1 PM bus, which gets you into New Paltz at 2:30, in plenty of time to get a ride to the ceremony. The last return bus of the day leaves at 9pm. <a href="https://trailways.com/schedules/bus-from-new-paltz-ny-to-new-york-ny/">The full schedule is here</a></p>

                <h2>🚆Train🚆</h2>
                <p>Poughkeepsie station is about 25 minutes drive from our wedding location. <em>Metro North</em> runs trains from <em>Grand Central</em> to <em>Poughkeepsie</em> which take 2 hours, and cost about $40 round trip. We recommend taking the 1:45 train arriving in Poughkeepsie at 3:45 and getting a Lyft or taxi to our location. Return trains depart Poughkeepsie at 8:45, 9:50 and 11:48 PM. You can see the full schedule at <a href="https://www.mta.info/mnr">Metro-North - Schedules, Tickets, rail</a></p>

            </div>
        </div>
    </section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d736.6735398574725!2d-74.06274989548454!3d41.811088093317956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sus!4v1613443472525!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

    <section id="accomodations" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 style="font-size:60px">🧧🧧🧧</br>Where to Stay</h1>
                <p> 🏕️🏕️🏕️ </p>
            </div>
        </div>
    </section>

    {% include js.html %}
    </body>
</html>
